@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

:root {
    @apply dark
}

.light {
    --color-bg: #dfc8ba;
    --color-footer: #c0ab9e;

    --color-text: #263242;
    --color-p: #3d4d63;
    --color-subtext: #702a30;

    /* Dark theme */
    --primary-light: #263242;
    --primary-dark: #1d2631;
}

.dark {
    --color-bg: #263242;
    --color-footer: #1d2735;

    --color-text: #dfc8ba;
    --color-p: #dfd1c8;
    --color-subtext: #702a30;

    /* Dark theme */
    --primary-light: #c7b2a4;
    --primary-dark: #a79286;
}

@layer base {
    body {
        @apply font-[Montserrat] bg-[color:var(--color-bg)]
    }

    h1 {
        @apply text-3xl md:text-4xl font-bold text-[color:var(--color-text)]
    }

    h2 {
        @apply text-3xl font-bold text-[color:var(--color-text)]
    }

    h3 {
        @apply text-xl font-bold text-[color:var(--color-text)]
    }

    button {
        @apply p-3 bg-gradient-to-br from-[var(--primary-dark)] to-[var(--primary-light)] text-gray-700 rounded-md
    }
}

@layer components {
    /* .App {
        @apply bg-[color:var(--color-bg)]
    } */
}

@layer utilities {
    
}